html {
    width: 60%;
    height: 100%;
    margin: 0;
    padding: 15px;
    background: dodgerblue linear-gradient(22deg, aqua, dodgerblue, deeppink) fixed;
    color: white;
    font: normal 14px/1.6 system-ui, sans-serif;
}